<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="myIMG/barbell-sun-1bw.jpg" width="140" height="140">
        <h2>BODYBUILDING E ALLENAMENTO DELLA FORZA</h2>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="myIMG/kett.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>ALLENAMENTO FUNZIONALE</h2>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" src="myIMG/postura-danza.jpg" width="140" height="140">
        <h2>RIEQUILIBRIO POSTURALE</h2>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading"> Abbi buona cura del tuo corpo, è l’unico posto in cui devi vivere.</h2>
        <p class="lead">
            Citazione <span class="text-muted">di <b>Jim Rohn</b></span>
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="myIMG/corpo.jpg">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Se ci provi, potresti vincere. Se non ci provi, hai già perso.</h2>
        <p class="lead">
            Citazione <span class="text-muted">di un <b>anonimo</b></span>
        </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="images/fineEst.jpg">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Come raggiungere un traguardo? Senza fretta e senza <b>sosta</b>.</h2>
        <p class="lead">
            Citazione <span class="text-muted">di <b>Goethe</b></span>
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="myIMG/Immagine.png">
    </div>
</div>

<hr class="featurette-divider">