<h1 class="page-header">
    RECUPERO PASSWORD
</h1>
<div class="col-md-12">
    <div class="row" id="homerow">
        <div class="panel-group">
            <div class="panel panel-primary" style="background-color:#eeeeee;border: 1px solid #eeeeee;box-shadow: 10px 10px 5px #888888;">
                <div class="panel-body">
                        <form class="form-signin">
                            <label>Email</label>
                            <input type='text' autocomplete="off" ng-model="email" class="form-control" />
                            <br />
                            <div class="alert alert-warning">
                            	<strong>Attenzione!</strong><br />
                                Una volta recuperata la password, effettua il log-in<br />
                                ed eventualmente
                                aggiornala con una che ti ricordi meglio.
                            </div>
                            <button type="button" ng-click="GetAccountPassword()" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-retweet"></i> Recupera</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
